<!--Student Name: Matheus Teixeira - Student ID: 301236904-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Comp 213</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="shortcut icon" href="./images/MT_.jpg" type="image/x-icon"/>
</head>
<body>
    <div id="wrapper">
        <header>
          <nav>
            <ul>
              <img src="./images/Nerdman25.png" alt="logo" style="float: left; height: 56px; margin: 0;padding: 0;">
              <li class="current"><a class="single" href="../index.html">Home</a></li>
              <li><a class="single" href="../Comp213/index.html">About me</a></li>
              <li><a class="single" href="./comp125.html">Projects</a></li>
              <li><a class="single" href="../Comp213/index.html">Services</a></li>
              <li><a class="single" href="./comp125.html">Contact</a></li>
            </ul>
          </nav>
        </header>
