<% include partials/header.ejs %>

    <% if (title == "Home") { %>
      <main>
        <p style="margin-top:10px;">
            <img src="./images/Me.jpg" alt="profile picture" style="float:right;margin-left:10px;margin-top:10px;" width="200px">
            I am a Brazilian student in Software Engineering Technology - Artificial intelligence at Centennial College. I already hold a bachelor's in Mechatronic Engineering back in my home country. And I've been working in the Engineering job market for 8 years. But in 2021 I've resolved to go back to school and make my path towards becoming a researcher. Also, I'm changing a little bit my field and focusing on IT.
        </p>
        <p>
            <img src="./images/Abroad.JPG" alt="profile picture" height="250px" style="float:left;margin-top:10px;margin-bottom:10px;margin-right:5px;">
            I'm fascinated by Astronomy, the Cosmos, and how these subjects are interconnected to the great questions of Philosophy: Who are we? Where did we come from? Where are we heading to? I can easily get mesmerized by new technologies, and I wish I could be able to build a suit like Marvel's Ironman. Having such interests, luckily, I managed to get an 8 months internship at NASA, in 2011. Because of that, in that very year I was able to apply to a Brazilian Government Scholarship Program (in partnership with Fulbright) where they paid all of my expenses, so I could pass 1 year abroad, studying at the Catholic University of America (CUA). Been at CUA wasn't planned, but happened to be a good plus, because I'm Catholic and they have a really nice Campus. I stayed there for the whole of the 2012 year. I moved to the USA on January 5th, started my winter term in CUA on January 9th, started my internship at NASA in May, and came back to Brazil on December 18th.
        </p>
        <p>
            <img src="./images/Hobbies.jpg" alt="Hobbies" height="230px" style="float:right;margin-right:5px;margin-bottom:10px;">
            <h3 style="margin-top:5px;margin-bottom:10px;">Some of my favorite things are:</h3>
            <ul>
                <li>Camping to look at the stars and going into waterfalls;</li>
                <li>Try new stuff, and go for some adventures;</li>
                <li>Learn new stuff, especially, about Astronomy and History;</li>
                <li>Traveling, and getting to know new people and new cultures;</li>
                <li>Playing the guitar;</li>
                <li>Beaches, especially, Brazilian ones;</li>
                <li>Watching series and movies;</li>
                <li>The Lion King (1994) movie; and</li>
                <li>I must mention it again beaches.</li>
            </ul>
        </p>
    </main>
<% } else { %>
      <div>
      </div>
    <% } %>   

    <% include partials/footer.ejs %>